*{
    font-family: "Courier", monospace;
    text-align: start;
    color: rgb(red, green, blue);
}

body{
    background-image: url('../odin_recipes/resources/1=header.gif');
    background-size:cover;
    background-position:center;
}

h1,p{
    text-align:start;
    font-weight:bold;
    color:white;
}
h2{
    text-align: center;
    color:white;
}
h4{
    text-align: start;
    color:wheat;
}
#banner{
    background-color:rgba(45, 31, 3, 0.248);
    border-top: 460px solid rgba(45, 31, 3, 0);
    font-size: large;
}
#fill{
    background-color: rgba(23, 0, 0, 0.904);
    font-size: small;
    text-align: center;
    margin-top: 10px;
    margin-left:0%;
    margin-right:0%;
    border-bottom: 100px solid rgb(23, 0, 0, 0.900);
    border-top: 50px solid rgb(102, 36, 3);
}

.button{
    background-color:white;
    color: orangered;
    font-weight: bold;
    font-size: large;
    border-style:solid;
    border-color: brown;
    border-width: thick;
}

.title{
    text-align: center;
    color:white;
    font-size: xx-large;
    font-style:bold;
}

.images{
    width: 300 px;
    border: solid brown;
    border-width: thick;
}